{% extends 'base.html' %}
{% load static %}
{% block files %}
    <link rel="stylesheet" href="{% static 'Services/virtualglass.css' %}">

{% endblock files %}

  {% block menu %}
  <!-- BEGIN MENU -->
  <section id="menu-area">
    <nav class="navbar navbar-default" role="navigation">
{#      <div class="container">#}
        <div class="navbar-header">
          <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">تغییر وضعیت</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- LOGO -->
          <!-- IMG BASED LOGO  -->
            <a class="navbar-brand" href="{% url 'pages' %}" style="margin-top: 0;">
                <picture>
                    <source
                      srcset="{% static 'images/Cheshmyar/dark.jpeg' %}"
                      media="(prefers-color-scheme: dark)">
                    <img id="logo2" style="margin-top: 0;" src="{% static 'images/Cheshmyar/logo2.png' %}" alt="logo">
                </picture>

            </a>
          <!-- TEXT BASED LOGO -->
          <a class="navbar-brand" href="{% url 'pages' %}">
              <span style="background: -webkit-linear-gradient(left, rgba(6,57,110,1) 0%, rgba(43,205,193,1) 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">چشم یار</span>

              &ensp;<span id="motto" style="color: rgb(6,57,110);">وضوح دید بیشتر با چشم یار</span>
          </a>


        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
            <li><a href="{% url 'pages' %}">صفحه اصلی</a></li>
            <li class="dropdown active">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">وب سرویس ها <span class="fa fa-angle-down"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'eye-care' %}">سلامت چشم</a></li>
                <li><a href="{% url 'virtual-glass' %}">عینک مجازی</a></li>
                <li><a href="{% url 'info-dashboard' %}">داشبورد اطلاعاتی</a></li>
              </ul>
            </li>
            <li><a href="{% url 'blog' %}">بلاگ</a></li>
            <li><a href="{% url 'contact' %}">ارتباط با ما</a></li>
            <li><a href="{% url 'intern' %}">پذیرش کارآموز</a></li>
            <li><a href="{% url 'about-us' %}">درباره چشم یار</a></li>
          </ul>
            <a href="#" id="search-icon">
                <i class="fa fa-search">
                </i>
            </a>
        </div>
        <!--/.nav-collapse -->

{#      </div>     #}
    </nav>
  </section>
  <!-- END MENU -->
  {% endblock menu %}

  {% block content %}

  <!-- Start single page header -->
  <section id="single-page-header-virtual-glass">
    <div class="overlay-virtual-glass">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="single-page-header-left">
              <h2>عینک مجازی</h2>
              <p>Virtual Glasses</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End single page header -->

      <!-- Start Pricing table -->
  <section class="bg-white" id="pricing-table">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-area">
            <h2 class="title">امتحان عینک روی صورت</h2>
            <span class="line"></span>
            <p>با کلیک بر روی هر یک از عینک های زیر می توانید به صورت آنلاین آن را روی صورت خود امتحان کنید.</p>
          </div>
        </div>
      </div>
    </div>
  <div class="container">
      {% if sunglasses_list %}
          {% for sunglasses_4 in sunglasses_list %}
              <div class="row mb-3">
                {% for sunglasses in sunglasses_4 %}
                    <div class="col-md-3 col-sm-6 sunglasses_div">
                      <a href="{% url 'video' glasses=sunglasses %}">
                          <img src="/static/Services/virtualglass/{{sunglasses}}.jpg" alt="sunglasses" class="sunglasses_image" style="width: 100%; height: 230px;">
                      </a>
{#                      <div class="buttons-container d-flex justify-content-around">#}
{#                        <div class="color_filter_button">#}
{#                          <div class="color_filter_text text-white p-2"><a href="{% url 'upload_files' glasses=sunglasses %}">فیلتر رنگی</a></div>#}
{#                        </div>#}
{#                        <div class="try_on_button">#}
{#                            <div class="try_on_text p-2"><a class="text-white" href="{% url 'video' glasses=sunglasses %}">امتحان عینک</a></div>#}
{#                        </div>#}
{#                      </div>#}
                    </div>
                {% endfor %}
              </div>
          {% endfor %}
      {% endif %}
  </div>
  </section>
  <!-- End Pricing table -->
      <!-- Start Pricing table -->
  <section id="pricing-table">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-area">
            <h2 class="title">فیلتر رنگی عینک</h2>
            <span class="line"></span>
            <p>با کلیک بر روی هر یک از عینک های زیر می توانید فیلتر رنگی مربوط به آن عینک را امتحان کنید.</p>
          </div>
        </div>
      </div>
    </div>
  <div class="container">

      {% if color_glasses_list %}
          {% for color_glasses_4 in color_glasses_list %}
              <div class="row mb-3">
                {% for color_glasses in color_glasses_4 %}
                    <div class="col-md-3 col-sm-6 sunglasses_div">
                        <a href="{% url 'upload_files' glasses=color_glasses %}">
                            <img src="/static/Services/colorglass/{{color_glasses}}.jpg" alt="sunglasses" class="sunglasses_image" style="width: 100%; height: 230px;">
                        </a>
                    </div>
                {% endfor %}
              </div>
          {% endfor %}
      {% endif %}

  </div>
  </section>
  <!-- End Pricing table -->

  <!-- Start Feature -->
  <section id="feature">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-area">
            <h2 class="title">درباره سرویس</h2>
            <span class="line"></span>
            <p>در این سرویس هدف این است که براساس مجموعه تصاویر و ویدئوهای دریافتی از سوی کاربران عینک های انتخابی از سوی کاربر برروی صورت آن ها جانمایی شود. از مجموعه نوآوری ها در این سرویس می توان به موارد زیر اشاره کرد:
دید نمای سه بعدی، انتخاب و بازنمایی رنگ های موجود، بررسی بافت فریم و میزان دید با لنزهای آفتابی</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Feature -->

  <section id="pricing-table">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="title-area">
                      <h2 class="title">ویژگی های سرویس عینک مجازی</h2>
                      <span class="line"></span>
                      {#            <p>گروه چشم یار سرویس های مختلفی را بر بستر وب ارائه می کند.</p>#}
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12" dir="rtl">
                    <div class="properties float-right">
                        <div class="property"><p style="padding-top: 13px; margin-right: 54px;">استفاده از سرویس هم بصورت ثبت تصاویر و هم بصورت زنده از وب کم</p></div>
                        <div class="number"><p class="number-p">1</p></div>
                    </div>
                    <div class="properties float-left">
                        <div class="property"><p style="padding-top: 13px; margin-right: 54px;">ارائه ی توضیحات تکمیلی</p></div>
                        <div class="number"><p class="number-p">2</p></div>
                    </div>
                    <div class="properties float-right">
                        <div class="property"><p style="padding-top: 13px; margin-right: 54px;">تنوع زیاد در تعداد فریم ها</p></div>
                        <div class="number"><p class="number-p">3</p></div>
                    </div>
                    <div class="properties float-left">
                        <div class="property"><p style="padding-top: 13px; margin-right: 54px;">توانایی مشاهده ی رنگ عینک های آفتابی بر روی تصویر خودتان(مدل آینه ای) و هم بر روی تصاویر انتخابی</p></div>
                        <div class="number"><p class="number-p">4</p></div>
                    </div>
                    <div class="properties float-right">
                        <div class="property"><p style="padding-top: 13px; margin-right: 54px;">تشخیص فرم صورت و پیشنهاد عینک های متناسب با فرم صورت شما</p></div>
                        <div class="number"><p class="number-p">5</p></div>
                    </div>
              </div>

          </div>
      </div>
  </section>
{% endblock content %}

